.fact {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--basic-grey);
  border-bottom: 1px solid var(--basic-grey-border);

  @media (min-width: @tablet-width) {
    width: 33.3333333333%;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }

  :last-child {
    border: none;
  }

  :not(:last-child) .fact__description {
    padding-left: 42px;
    padding-right: 42px;
  }

  :last-child .fact__description {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.fact__title {

  font-weight: 700;
  line-height: 26px;

  @media (min-width: @mobile-width) {
    font-size: 18px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.fact__description {
  line-height: 21px;
}
