.fact {
  text-align: center;
  background-color: var(--basic-grey);

  padding: 1px 31px 11px;

  @media (max-width: @tablet-width - 1) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    width: 33.3333333333%;
    border: none;
    margin: 0;
    padding: 18px 34px 28px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 49px 28px;
  }
}

.fact__title {

  font-weight: 700;
  line-height: 26px;

  font-size: 18px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    max-width: 122px;
    padding-bottom: 5px;
  }
}

.fact__number {
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding-bottom: 14px;
  }
}

.fact__description {
  line-height: 21px;
}

.fact:not(:first-child) .fact__description {
  @media (min-width: @tablet-width) {
    padding: 0 22px 0 19px;
  }
}

.fact:not(:last-child)::after {
  @media (max-width: @tablet-width - 1) {
    position: absolute;
    content: "";
    width: 87%;
    height: 1px;
    background-color: var(--basic-grey-border);
    bottom: 0;
    left: 20px;
  }
}
