.feature {
  @media (min-width: @mobile-width) {
    padding-left: 70px;
    padding-right: 21px;
    position: relative;
  }

  @media (min-width: @tablet-width) {
    width: 33.3333333333%;
    text-align: center;
    padding-left: 36px;
    padding-right: 28px;
    padding-top: 125px;
    position: static;
  }

  @media (min-width: @desktop-width) {
    padding-left: 58px;
    padding-right: 78px;
  }
}

.feature:not(:last-child) {
  @media (max-width: @mobile-width - 1) {
    padding-bottom: 26px;
  }
}

.feature:nth-last-child(2) {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.feature__icon {
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: @mobile-width) {

    position: absolute;
    left: 20px;
    top: 17px;
  }

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: auto;
    position: static;
  }
}

.feature__icon--accomodation {
  background-image: url("../img/index/icon-accomodation.svg");

  @media (min-width: @mobile-width) {
    width: 39px;
    height: 37px;
  }

  @media (min-width: @tablet-width) {
    width: 75px;
    height: 72px;
  }
}

.feature__icon--souvenirs {
  background-image: url("../img/index/icon-souvenirs.svg");

  @media (min-width: @mobile-width) {
    width: 32px;
    height: 38px;
  }

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 75px;
  }
}

.feature__icon--burger {
  background-image: url("../img/index/icon-burger.svg");

  @media (min-width: @mobile-width) {
    width: 40px;
    height: 35px;
  }

  @media (min-width: @tablet-width) {
    width: 76px;
    height: 68px;
  }
}

.feature__title {

  font-weight: 700;
  line-height: 26px;


  @media (min-width: @mobile-width) {
    font-size: 18px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.feature__description {
  line-height: 21px;
}
