.group__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.group__picture {
  background-color: var(--basic-brown);

  @media (min-width: @desktop-width) {
    height: 260px;
  }

  @media (min-width: @tablet-width) {
    width: 66.6666666667%;
    height: 256px;
  }
}
