.group__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.group:first-child .info {
  @media (min-width: @mobile-width) {
    padding: 71px 13px 39px;
  }

  @media (min-width: @tablet-width) {
    width: 33.3333333333%;
    padding: 40px 32px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 53px 57px;
  }
}

.group:last-child .info {
  @media (min-width: @mobile-width) {
    padding: 40px 13px 36px;
  }

  @media (min-width: @tablet-width) {
    order: 1;
    width: 33.33333333%;
  }
}

.group:last-child .info__header {
  @media (min-width: @tablet-width) {
    padding: 2px 40px 4px 39px;
  }
}

.group:last-child .info__description {
  @media (min-width: @tablet-width) {
    padding: 28px 32px 0 31px;
  }
}

.group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @mobile-width) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.group__picture {
  background-color: var(--basic-brown);

  @media (min-width: @mobile-width) {
    height: 260px;
  }

  @media (min-width: @tablet-width) {
    width: 66.6666666667%;
    height: 256px;
  }
}

.group__img {
  width: 100%;
  object-fit: cover;

  @media (min-width: @mobile-width) {
    height: 260px;
  }

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}
