.info {
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  text-align: center;
  margin: 0 auto;
}

.info__header {

  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;

  @media (min-width: @mobile-width) {
    font-size: 18px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-bottom: 3px;
  }
}

.info__number {
  margin: 0 auto;
  padding-top: 16px;
}

.info__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 21px;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
  }
}

.info--town {
  @media (min-width: @mobile-width) {
    padding: 71px 13px 39px;
  }

  @media (min-width: @tablet-width) {
    width: 33.3333333333%;
    padding: 41px 32px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 57px 57px;
  }
}

.info--town .info__header {
  @media (min-width: @tablet-width) {
    padding: 0 0 2px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px 2px;
  }
}

.info--bridge {
  padding: 40px 13px 36px;

  @media (min-width: @tablet-width) {
    order: 1;
    width: 33.33333333%;
  }

  @media (min-width: @desktop-width) {
    padding: 49px 79px 0;
  }
}

.info--bridge .info__header {
  @media (min-width: @tablet-width) {
    padding: 2px 40px 4px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 2px 47px 3px 44px;
  }
}

.info--bridge .info__description {
  @media (min-width: @tablet-width) {
    padding: 28px 32px 0 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 11px 0 9px;
  }
}
