@import "info.less";
@import "feature.less";
@import "fact.less";

.reasons {
  padding-bottom: 33px;
}

.group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.number {
  line-height: 10px;
}
