.copyright {
  color: inherit;
  text-decoration: none;
  padding-left: 4px;
  display: flex;
}

.copyright__text {
  line-height: 26px;
}

.copyright__logo {
  margin-left: 27px;
  fill: var(--basic-black);
}

.copyright__logo:hover {
  fill: var(--basic-lightblue);
}

.copyright:active .copyright__logo {
  opacity: 0.3;
}
