.page-footer .container {
  padding: 0 84px;
}

.page-footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 33.5px;
}

.page-footer__social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.social__item {
  width: 48px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-lightblue);
  text-align: center;
}

.social__link {
  text-decoration: none;
  color: var(--basic-white);
}

.copyright {
  color: inherit;
  text-decoration: none;
  padding-bottom: 26px;
  padding-left: 4px;
}

.copyright__text {
  line-height: 26px;
}
