.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: @tablet-width) {

    row-gap: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 61px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
    padding: 0 6px;
  }
}

.page-footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
