.promo {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 27px;
}

.promo__header {
  font-size: 21px;
  font-weight: 700;
}

.promo__description {
  padding: 0 18px;
  line-height: 26px;
}
