.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  background-color: var(--basic-lightblue);
  mix-blend-mode: normal;
  display: none;
  text-align: center;
}

.site-list__item:not(:last-child) {
  box-shadow: 0 1px 0 var(--basic-shadow-navigation);
  padding-bottom: 1px;
}

.site-list__item:not(:first-child) {
  box-shadow: inset 0 1px 0 var(--basic-shadow-navigation-inset);
}

.site-list__item-link {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
