.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 6px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding-right: 11px;
    padding-bottom: 6px;
  }
}

.social__item {
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-lightblue);
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--basic-lightblue-hover);
  }

  &:active {
    background-color: var(--basic-lightblue-active);
    opacity: 0.3;
  }

  &:disabled {
    background-color: var(--basic-lightblue-disabled);
  }
}

.social__item:nth-child(2) {
  width: 47px;
}

.social__link {
  text-decoration: none;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.social__network:active {
  opacity: 0.3;
}

.social__network--twitter {
  background-image: url("../img/icon-twitter.svg");
  width: 18px;
  height: 15px;
}

.social__network--facebook {
  background-image: url("../img/icon-facebook.svg");
  width: 9px;
  height: 19px;
}

.social__network--youtube {
  background-image: url("../img/icon-youtube.svg");
  width: 20px;
  height: 14px;
}
