:root {
  --basic-grey: #eeeeee;
  --basic-grey-border: #d6d6d6;
  --basic-lightblue: #81b3d2;
  --basic-shadow-navigation: rgba(1, 1, 1, 0.2);
  --basic-shadow-navigation-inset: rgba(255, 255, 255, 0.2);
  --basic-white: #ffffff;
}
