:root {
  --basic-brown: #766357;
  --basic-brown-hover: #604e43;
  --basic-grey: #eeeeee;
  --basic-grey-border: #d6d6d6;
  --basic-lightblue: #81b3d2;
  --basic-lightblue-active: #5496bd;
  --basic-lightblue-hover: #669ec0;
  --basic-lightgrey: #e5e5e5;
  --basic-lightgrey-input: #f2f2f2;
  --basic-shadow-navigation: rgba(1, 1, 1, 0.2);
  --basic-shadow-input: rgba(0, 0, 0, 0.25);
  --basic-shadow-navigation-inset: rgba(255, 255, 255, 0.2);
  --basic-white: #ffffff;
}
