.controls {
  background-color: var(--basic-black);
  opacity: 0.6;
  padding: 15px 23px;
}

.controls__toggle {
  background-color: var(--basic-white);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: relative;
}
