.photo {
  padding: 22px 20px 0;
  line-height: 24px;
  border-top: 1px solid var(--basic-lightgrey);
  font-size: 14px;
}

.photo__title,
.photo__likes {
  font-weight: 700;
}

.photo:last-of-type {
  border-bottom: 1px solid var(--basic-lightgrey);
}
