.video {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 49px;

  @media (min-width: @desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video__wrapper {
  @media (min-width: @mobile-width) {
    padding: 0 26px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 150px;
  }
}

.video__picture {
  background-color: var(--basic-brown);
}

.video__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.video__description {
  line-height: 24px;
}

.video__buttons {
  background-color: var(--basic-lightgrey-background);
  padding: 25px;
}

.video__button {
  height: 20px;
}

.video__button--replay {
  width: 16px;
}

.video__button--subtitles {
  width: 32px;
}

.video__button--fullscreen {
  width: 20px;
}
