.modal {
  width: 100%;
  display: none;

  @media (min-width: @tablet-width) {
    min-height: 347px;
    left: 50%;
    transform: translateX(-50%);
  }
  background-color: var(--basic-white);
  position: absolute;
}

.modal__wrapper {
  padding: 41px 41px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 42px 46px 0;
  }
}

.modal__header {
  font-size: 18px;
  padding: 0 6px 11px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 0 29px 0 25px;
  }
  line-height: 26px;
}

.modal__paragraph {
  line-height: 24px;
  margin: 0;
}

.modal__close {
  margin: 0 auto;
}

.modal--error {
  top: 1304px;
  min-height: 280px;
  display: block;

  .modal__publication {
    display: none;
  }

  .modal__header::after {
    content: "Что-то пошло не так!";
  }

  .modal__paragraph--basic {
    padding: 0 4px 24px;

    @media (min-width: @tablet-width) {
      padding: 0 4px 38px;
    }
  }

  .modal__paragraph--basic::after {
    content: "Проверьте поля, выделенные красным, скорее всего, вы забыли их заполнить";
  }

  .modal__paragraph--publication::after {
    content: "";
  }

  .modal__close {
    width: 180px;
    margin-bottom: 15px;

    @media (min-width: @tablet-width) {
      width: 272px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 400px;
    min-height: 347px;
    top: 1413px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    top: 1372px;
  }

  .modal__close::after {
    content: "OK";
  }
}

.modal--success {
  top: 1629px;
  min-height: 323px;
  display: block;

  @media (min-width: @tablet-width) {
    top: 1248px;
    width: 640px;
    min-height: 347px;
  }

  @media (min-width: @desktop-width) {
    top: 1097px;
  }

  .modal__close {
    width: 280px;
    font-size: 18px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 458px;
      font-size: 21px;
    }
  }

  .modal__header {
    @media (min-width: @tablet-width) {
      padding: 0 9px 0 0;
    }
  }

  .modal__header::after {
    content: "Ваш отзыв отправлен!";
  }

  .modal__paragraph--basic::after {
    content: "Спасибо за ваше участие, ваш отзыв уже поступил к нам.";
  }

  .modal__paragraph--publication {
    padding-bottom: 40px;

    @media (min-width: @tablet-width) {
      padding-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 45px;
    }
  }

  .modal__paragraph--publication::after {
    content: "В ближайшее время мы опубликуем его на сайте.";
  }

  .modal__footer {
    background-color: var(--basic-lightgrey-background);
    padding: 20px;

    @media (min-width: @tablet-width) {
      padding: 44px 20px 19px;
    }
  }

  .modal__close::after {
    content: "Закрыть окно";
  }
}
