.submit {
  padding: 39px 20px 37px;
  border: none;


  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    order: 5;
    padding: 47px 6px 60px 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 39px 66px 50px;
  }
}

.submit__button {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 324px;
    padding: 0 11px 0 0;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    padding: 0;
  }
}

.submit__required-fields {
  display: none;

  @media (min-width: @tablet-width) {
    margin: 5px 0 0 auto;
    display: block;
  }
}
