.submit {
  padding: 38px 20px 52px;
  border: none;


  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    order: 5;
    padding: 38px 6px 89px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 38px 40px 94px 20px;
  }
}

.submit__button {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 52%;
  }
}

.submit__required-fields {
  display: none;

  @media (min-width: @tablet-width) {
    margin: 5px 0 0 auto;
    display: block;
  }
}
